<a href="https://colab.research.google.com/github/khaylee1/CpE-AIDA-Lab-01./blob/main/lab1_aida.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Topic 01: Basic Software Engineering Concepts


$_{\text{Â©D.J. Lopez | 2022 | Fudamentals of Artificial Intelligence and Data Analytics}}$<br><br>

<h8>Submitted by:<br> 
De leon John Mark
<br> Embuscado Khayle Anthony
<br> Giron jeric</h8>

### Task 1: Setting the Class Grades
1. Create variable declarations for:
        - Last Names
        - First Names
        - Grades for Prelims
        - Grades for Midterms
        - Grades for Finals 


2. Create a `dictionary` for consolidating the data from Task 1.1

In [1]:
import pandas as pd
from pandas import DataFrame as df 
import numpy as np
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
class_grades="/content/drive/MyDrive/class_grades.csv"
grades = pd.read_csv(class_grades)
grades

       name  id  prelim_grades  midterm_grades  final_grades
0     alpha   1          94.96           95.26         92.22
1     aleph   2          94.96           95.26         92.78
2      beta   3          78.17           94.36         84.32
3      beth   4          78.17           81.37         84.64
4    cuprum   5          94.96           95.26         92.22
5     delta   6          84.83           92.49         83.58
6       eta   7          93.98           97.30         95.65
7   epsilon   8          60.79           68.00         83.87
8   foxtrot   9          94.31           82.00         84.15
9     gamma  10          96.41           82.00         84.15
10     geld  11          86.93           92.49         82.78
11    horus  12          78.17           94.36         84.32
12     iota  13          94.31           82.00         84.15
13     ixus  14          78.17           94.36         84.32
14  jakarta  15          84.83           92.49         82.78
15    koppa  16          84.83           87.69         83.87
16   lambda  17          93.98           97.30         95.65
17       mu  18          79.81           83.50         81.28
18       nu  19          75.41           82.00         82.55
19     neta  20          69.31           87.69         50.34
20  omicron  21          93.98           97.30         95.65
21    omega  22          79.81           83.50         81.28
22  phalanx  23          84.83           92.49         82.78
23     peta  24          94.96           95.26         92.22
24       pi  25          79.81           87.46         81.28
25    yotta  26          93.98           97.30         94.85
26     zeta  27          86.63           84.85         83.87

In [3]:
df = pd.DataFrame(grades)

# Renaming name to 'fname'
df.columns.values[0] = "fname"

# Declaring last names
df_dict = df.assign(lname = ['parker','emuscado','ramirez','hurtado','ramirez','mendoza','fortu',
                         'guileirmo','nagano','hufancia', 'jabat','esteban','bing','tribbiani',
                         'geller','buffay','navvaro','ilagan','alberto','abeleda','sebastian','chaves',
                         'marcos','robredo','pacquiao','lacson','allen'])

# Rearranging the columns
df_dict = df_dict.reindex(columns=['fname','lname','id','prelim_grades','midterm_grades','final_grades'])
df_dict

      fname      lname  id  prelim_grades  midterm_grades  final_grades
0     alpha     parker   1          94.96           95.26         92.22
1     aleph   emuscado   2          94.96           95.26         92.78
2      beta    ramirez   3          78.17           94.36         84.32
3      beth    hurtado   4          78.17           81.37         84.64
4    cuprum    ramirez   5          94.96           95.26         92.22
5     delta    mendoza   6          84.83           92.49         83.58
6       eta      fortu   7          93.98           97.30         95.65
7   epsilon  guileirmo   8          60.79           68.00         83.87
8   foxtrot     nagano   9          94.31           82.00         84.15
9     gamma   hufancia  10          96.41           82.00         84.15
10     geld      jabat  11          86.93           92.49         82.78
11    horus    esteban  12          78.17           94.36         84.32
12     iota       bing  13          94.31           82.00         84.15
13     ixus  tribbiani  14          78.17           94.36         84.32
14  jakarta     geller  15          84.83           92.49         82.78
15    koppa     buffay  16          84.83           87.69         83.87
16   lambda    navvaro  17          93.98           97.30         95.65
17       mu     ilagan  18          79.81           83.50         81.28
18       nu    alberto  19          75.41           82.00         82.55
19     neta    abeleda  20          69.31           87.69         50.34
20  omicron  sebastian  21          93.98           97.30         95.65
21    omega     chaves  22          79.81           83.50         81.28
22  phalanx     marcos  23          84.83           92.49         82.78
23     peta    robredo  24          94.96           95.26         92.22
24       pi   pacquiao  25          79.81           87.46         81.28
25    yotta     lacson  26          93.98           97.30         94.85
26     zeta      allen  27          86.63           84.85         83.87

### Task 2: Getting Class Statistics
1. Create a function named `get_grades()` for computing the semestral grade of each student:

  `inputs`: `dictionary` of a class grade sheet.
  
  `outpus`: `dictionary` showing:
  * The prelim, midterms, and finals grades of each student
  * The semestral grade of each student

2. Create a function named `get_class_stats()`.
  
  `inputs`: `dictionary` from `get_grades()`.
  
  `outpus`: `dictionary` showing:
  * The lowest and highest prelim, midterm, finals, and semestral grades
  * the mean, median, mode, and standard deviation of the grades

In [4]:
def get_grades(df_dict): 
  prelims = df_dict.iloc[:,3]
  midterms = df_dict.iloc[:,4]
  finals = df_dict.iloc[:,5]
  for semgrade in df_dict:
    semgrade=(prelims * 0.3) + (midterms * 0.3) + (finals * 0.4)
  return semgrade

In [5]:
df_dict['semestral_grades'] = get_grades(df_dict)
df_dict.round(2)

      fname      lname  id  ...  midterm_grades  final_grades  semestral_grades
0     alpha     parker   1  ...           95.26         92.22             93.95
1     aleph   emuscado   2  ...           95.26         92.78             94.18
2      beta    ramirez   3  ...           94.36         84.32             85.49
3      beth    hurtado   4  ...           81.37         84.64             81.72
4    cuprum    ramirez   5  ...           95.26         92.22             93.95
5     delta    mendoza   6  ...           92.49         83.58             86.63
6       eta      fortu   7  ...           97.30         95.65             95.64
7   epsilon  guileirmo   8  ...           68.00         83.87             72.18
8   foxtrot     nagano   9  ...           82.00         84.15             86.55
9     gamma   hufancia  10  ...           82.00         84.15             87.18
10     geld      jabat  11  ...           92.49         82.78             86.94
11    horus    esteban  12  ...           94.36         84.32             85.49
12     iota       bing  13  ...           82.00         84.15             86.55
13     ixus  tribbiani  14  ...           94.36         84.32             85.49
14  jakarta     geller  15  ...           92.49         82.78             86.31
15    koppa     buffay  16  ...           87.69         83.87             85.30
16   lambda    navvaro  17  ...           97.30         95.65             95.64
17       mu     ilagan  18  ...           83.50         81.28             81.50
18       nu    alberto  19  ...           82.00         82.55             80.24
19     neta    abeleda  20  ...           87.69         50.34             67.24
20  omicron  sebastian  21  ...           97.30         95.65             95.64
21    omega     chaves  22  ...           83.50         81.28             81.50
22  phalanx     marcos  23  ...           92.49         82.78             86.31
23     peta    robredo  24  ...           95.26         92.22             93.95
24       pi   pacquiao  25  ...           87.46         81.28             82.69
25    yotta     lacson  26  ...           97.30         94.85             95.32
26     zeta      allen  27  ...           84.85         83.87             84.99

[27 rows x 7 columns]

In [6]:
def get_class_stats(df_dict):
  pGrade_lowest = df_dict.iloc[:,3].min()
  pGrade_highest = df_dict.iloc[:,3].max()
  pGrade_mean = df_dict.iloc[:,3].mean()
  pGrade_median = df_dict.iloc[:,3].median()
  pGrade_mode = df_dict.iloc[:,3].mode()[0]
  pGrade_std = df_dict.iloc[:,3].std()

  mGrade_lowest = df_dict.iloc[:,4].min()
  mGrade_highest = df_dict.iloc[:,4].max()
  mGrade_mean = df_dict.iloc[:,4].mean()
  mGrade_meadian = df_dict.iloc[:,4].median()
  mGrade_mode = df_dict.iloc[:,4].mode()[0]
  mGrade_std = df_dict.iloc[:,4].std()

  fGrade_lowest = df_dict.iloc[:,5].min()
  fGrade_highest = df_dict.iloc[:,5].max()
  fGrade_mean = df_dict.iloc[:,5].mean()
  fGrade_median = df_dict.iloc[:,5].median()
  fGrade_mode = df_dict.iloc[:,5].mode()[0]
  fGrade_std = df_dict.iloc[:,5].std()

  sGrade_lowest = df_dict.iloc[:,6].min()
  sGrade_highest = df_dict.iloc[:,6].max()
  sGrade_mean = df_dict.iloc[:,6].mean()
  sGrade_median = df_dict.iloc[:,6].median()
  sGrade_mode = df_dict.iloc[:,6].mode()[0]
  sGrade_std = df_dict.iloc[:,6].std()
  
  
  class_stats = {'':["prelim_grades", "midterm_grades", "final_grades","semestral_grades"], 
                 'Lowest':[pGrade_lowest,mGrade_lowest,fGrade_lowest, sGrade_lowest], 
                 'Highest':[pGrade_highest,mGrade_highest,fGrade_highest,sGrade_highest], 
                 'Mean':[pGrade_mean,mGrade_mean, fGrade_mean, sGrade_mean], 
                 'Median':[pGrade_median,mGrade_meadian, fGrade_median, sGrade_median], 
                 'Mode':[pGrade_mode,mGrade_mode,fGrade_mode,sGrade_mode],
                 'Standard Deviation':[pGrade_std, mGrade_std, fGrade_std, sGrade_std]}
  df_dict = pd.DataFrame(class_stats)
  return df_dict

In [7]:
get_class_stats(df_dict.round(2))

                     Lowest  Highest  ...  Median   Mode  Standard Deviation
0     prelim_grades   60.79    96.41  ...   84.83  78.17            9.222151
1    midterm_grades   68.00    97.30  ...   92.49  82.00            7.179894
2      final_grades   50.34    95.65  ...   84.15  81.28            8.606269
3  semestral_grades   67.24    95.64  ...   86.31  85.49            6.971493

[4 rows x 7 columns]

### Task 3: Advanced Class Functions
1. Optimize `get_grades()` by eliminating for loops in your function.
2. Create a function named `get_similar_students()`
  
  `inputs`: two (2) class `dictionary`
  
  `outputs`: list of common student numbers.

  *Note*: The function should not contain iterative code blocks (i.e. `for` or `while` loops, or list comprehension)

In [8]:
df_optmz = df_dict.assign(semestral_grades=(df_dict['prelim_grades']*0.3)+
                            (df_dict['midterm_grades']*0.3)+
                     (df_dict['final_grades']*0.4)).round(2)
df_optmz

      fname      lname  id  ...  midterm_grades  final_grades  semestral_grades
0     alpha     parker   1  ...           95.26         92.22             93.95
1     aleph   emuscado   2  ...           95.26         92.78             94.18
2      beta    ramirez   3  ...           94.36         84.32             85.49
3      beth    hurtado   4  ...           81.37         84.64             81.72
4    cuprum    ramirez   5  ...           95.26         92.22             93.95
5     delta    mendoza   6  ...           92.49         83.58             86.63
6       eta      fortu   7  ...           97.30         95.65             95.64
7   epsilon  guileirmo   8  ...           68.00         83.87             72.18
8   foxtrot     nagano   9  ...           82.00         84.15             86.55
9     gamma   hufancia  10  ...           82.00         84.15             87.18
10     geld      jabat  11  ...           92.49         82.78             86.94
11    horus    esteban  12  ...           94.36         84.32             85.49
12     iota       bing  13  ...           82.00         84.15             86.55
13     ixus  tribbiani  14  ...           94.36         84.32             85.49
14  jakarta     geller  15  ...           92.49         82.78             86.31
15    koppa     buffay  16  ...           87.69         83.87             85.30
16   lambda    navvaro  17  ...           97.30         95.65             95.64
17       mu     ilagan  18  ...           83.50         81.28             81.50
18       nu    alberto  19  ...           82.00         82.55             80.24
19     neta    abeleda  20  ...           87.69         50.34             67.24
20  omicron  sebastian  21  ...           97.30         95.65             95.64
21    omega     chaves  22  ...           83.50         81.28             81.50
22  phalanx     marcos  23  ...           92.49         82.78             86.31
23     peta    robredo  24  ...           95.26         92.22             93.95
24       pi   pacquiao  25  ...           87.46         81.28             82.69
25    yotta     lacson  26  ...           97.30         94.85             95.32
26     zeta      allen  27  ...           84.85         83.87             84.99

[27 rows x 7 columns]

In [9]:
class_list1="/content/drive/MyDrive/classlists.csv"
class_list2="/content/drive/MyDrive/classlists.csv"
clist1 = pd.read_csv(class_list1)
clist2 = pd.read_csv(class_list2)
clist1.columns = ['student_numbers']
clist2.columns = ['student_numbers']

In [10]:
def get_similar_students(classlist):
  class_unique = set(clist1['student_numbers']).intersection(set(clist2['student_numbers']))
  return class_unique

In [11]:
print('list of the common student numbers for class 1:')
print(get_similar_students(clist1))
print('\nlist of the common student numbers in class 2:')
print(get_similar_students(clist2))

list of the common student numbers for class 1:
{201009157, 201105415, 201005064, 201005066, 201009163, 201105420, 201107470, 201003023, 201107472, 201105423, 201109525, 201105430, 201103385, 201007138, 201101347, 201101346, 201005093, 201003046, 201101350, 201005094, 201109545, 201105451, 201003058, 201003060, 201007160, 201103418, 201101371, 201105467, 201105468, 201107516, 201105471, 201107525, 201103429, 201009221, 201001032, 201001034, 201107533, 201005134, 201007183, 201105496, 201001049, 201005147, 201103453, 201005150, 201001055, 201103456, 201009253, 201101414, 201101415, 201003112, 201105513, 201003117, 201101421, 201005168, 201007217, 201109616, 201103475, 201009270, 201007225, 201009276, 201101438, 201003136, 201103489, 201101441, 201005187, 201109639, 201105544, 201003145, 201007242, 201001098, 201101453, 201107598, 201109649, 201009298, 201007252, 201003157, 201101463, 201001112, 201001111, 201103518, 201101472, 201001123, 201003174, 201009318, 201003177, 201009321, 201103529, 201009324, 201001133, 201001134, 201103535, 201109680, 201007282, 201105587, 201005236, 201007286, 201107639, 201105592, 201001145, 201103546, 201009339, 201007289, 201003197, 201007291, 201107640, 201107653, 201001159, 201107655, 201005255, 201009354, 201005256, 201009357, 201007311, 201003219, 201001172, 201103574, 201001175, 201109720, 201007320, 201005275, 201105628, 201109724, 201107678, 201007327, 201009375, 201107682, 201007331, 201009379, 201105637, 201109734, 201103591, 201105643, 201107695, 201007345, 201107699, 201101556, 201005311, 201003263, 201101569, 201105664, 201109764, 201103626, 201003279, 201009426, 201109778, 201009428, 201101589, 201007380, 201007383, 201105682, 201101593, 201103640, 201103642, 201001244, 201007389, 201001237, 201107743, 201109792, 201107744, 201001250, 201103651, 201103660, 201107757, 201103663, 201005360, 201101617, 201001266, 201107759, 201107766, 201005367, 201103677, 201109823, 201005377, 201103682, 201101636, 201101637, 201007430, 201107782, 201105736, 201103695, 201107792, 201001297, 201105748, 201009493, 201101655, 201009499, 201003358, 201007455, 201105764, 201005415, 201001319, 201105769, 201005418, 201107818, 201107820, 201009518, 201007471, 201001332, 201107828, 201107830, 201009533, 201101696, 201003392, 201005443, 201109891, 201107845, 201007494, 201009543, 201009546, 201101710, 201105812, 201107861, 201001366, 201007514, 201005469, 201003425, 201009570, 201001380, 201101733, 201009575, 201107882, 201109930, 201005482, 201005485, 201003438, 201007536, 201103792, 201009587, 201007541, 201101751, 201009591, 201003447, 201009594, 201105854, 201105857, 201101763, 201001413, 201003463, 201101768, 201007563, 201105869, 201101775, 201005520, 201007568, 201001424, 201109971, 201101777, 201107925, 201105878, 201005525, 201105874, 201005535, 201105892, 201107941, 201101799, 201105896, 201001451, 201001453, 201007598, 201005550, 201009648, 201009653, 201101814, 201107959, 201009655, 201003511, 201101817, 201107963, 201003514, 201003515, 201001468, 201007615, 201009671, 201107975, 201003529, 201007625, 201103883, 201001484, 201009678, 201103889, 201107986, 201005588, 201003542, 201101848, 201101849, 201005593, 201005592, 201005596, 201101854, 201105954, 201103910, 201003559, 201007657, 201101869, 201105967, 201007663, 201101879, 201108027, 201105980, 201105979, 201005630, 201005628, 201101893, 201105997, 201001552, 201005648, 201005652, 201108053, 201101910, 201103959, 201001558, 201108058, 201101916, 201003613, 201103966, 201003615, 201103967, 201001569, 201101921, 201005670, 201005671, 201108071, 201106022, 201108075, 201009773, 201001582, 201101935, 201003635, 201001587, 201108087, 201106041, 201108090, 201108091, 201003644, 201101952, 201005699, 201101958, 201106057, 201003660, 201007757, 201001612, 201007761, 201009810, 201104021, 201101975, 201104024, 201108119, 201003675, 201009820, 201005725, 201009825, 201007778, 201005731, 201009828, 201003688, 201101996, 201005741, 201009838, 201007791, 201005746, 201108149, 201009848, 201102012, 201001663, 201104063, 201108159, 201108162, 201001666, 201003715, 201005763, 201001670, 201001667, 201003718, 201108168, 201108170, 201102026, 201108163, 201106125, 201108174, 201005775, 201009872, 201003730, 201102035, 201003736, 201102044, 201001698, 201001710, 201001713, 201102065, 201108210, 201102068, 201007862, 201003767, 201104121, 201108220, 201005821, 201005822, 201102079, 201104128, 201102081, 201108229, 201009925, 201003783, 201005835, 201007884, 201106188, 201108238, 201009935, 201001745, 201005842, 201102097, 201007890, 201003797, 201009942, 201005846, 201106199, 201108241, 201001758, 201104163, 201009959, 201003815, 201001769, 201102126, 201009967, 201001774, 201001780, 201009973, 201007925, 201003828, 201001782, 201003833, 201104188, 201001789, 201005885, 201007936, 201009985, 201005889, 201007939, 201009987, 201003845, 201001799, 201007944, 201003847, 201005899, 201003852, 201009997, 201108299, 201007960, 201104218, 201005917, 201001822, 201104222, 201104224, 201007965, 201108322, 201003875, 201106276, 201106280, 201001832, 201104234, 201001836, 201005933, 201003886, 201003887, 201102192, 201104243, 201007988, 201001845, 201005944, 201005949, 201007999, 201001865, 201106313, 201001869, 201008016, 201008017, 201001874, 201001878, 201104279, 201108376, 201008029, 201104288, 201104289, 201005986, 201106339, 201005989, 201005990, 201106343, 201106346, 201102250, 201005994, 201106347, 201108399, 201008049, 201102258, 201106355, 201001912, 201001913, 201104315, 201006011, 201106365, 201102270, 201001919, 201003967, 201102276, 201108420, 201104331, 201001933, 201108436, 201003993, 201006042, 201104347, 201106398, 201001951, 201106399, 201108448, 201006048, 201108450, 201008094, 201006055, 201102318, 201104366, 201102320, 201004017, 201008116, 201104375, 201004026, 201108474, 201106428, 201006079, 201106433, 201004042, 201104397, 201104398, 201004047, 201102350, 201006098, 201008147, 201102363, 201008155, 201102365, 201006110, 201108511, 201106461, 201102369, 201104417, 201008163, 201102367, 201002021, 201108518, 201104423, 201008168, 201106474, 201002028, 201108525, 201104429, 201102386, 201008187, 201006140, 201102397, 201102399, 201008194, 201002052, 201006148, 201002054, 201104456, 201002058, 201102414, 201104464, 201104466, 201104468, 201106516, 201108566, 201106518, 201104469, 201004118, 201102424, 201102428, 201006174, 201006175, 201104488, 201108585, 201008235, 201006187, 201008254, 201004160, 201004162, 201102466, 201008261, 201102470, 201102471, 201102473, 201004170, 201004172, 201104525, 201102477, 201006232, 201002136, 201008287, 201102496, 201108641, 201106594, 201004194, 201004196, 201002150, 201106598, 201008295, 201006250, 201104555, 201102510, 201106610, 201006258, 201002168, 201104571, 201102524, 201002173, 201008318, 201004221, 201102528, 201006273, 201108673, 201006281, 201108682, 201002185, 201104588, 201102541, 201104589, 201106633, 201104594, 201102547, 201106642, 201002197, 201008345, 201008346, 201008347, 201004252, 201004255, 201106656, 201106661, 201004262, 201004269, 201008370, 201106677, 201106678, 201002230, 201008373, 201004288, 201002241, 201008388, 201008389, 201002245, 201106695, 201104648, 201006345, 201004299, 201006348, 201006347, 201006357, 201104666, 201106715, 201004316, 201002269, 201106718, 201104670, 201002272, 201006369, 201004323, 201008420, 201002279, 201002284, 201106734, 201008432, 201008433, 201102640, 201106739, 201102665, 201006410, 201104716, 201008461, 201108816, 201102674, 201104724, 201002326, 201006425, 201106780, 201008476, 201008478, 201104737, 201004389, 201106795, 201106799, 201108848, 201108853, 201104760, 201106813, 201108864, 201106818, 201104771, 201006468, 201104773, 201002375, 201002376, 201104781, 201108877, 201104786, 201004434, 201106836, 201106834, 201102747, 201104795, 201102750, 201108896, 201008545, 201004449, 201004454, 201008552, 201004456, 201008566, 201004471, 201104825, 201006527, 201008578, 201104838, 201002439, 201008582, 201006537, 201002444, 201006543, 201002449, 201004498, 201108949, 201104861, 201108958, 201102813, 201006560, 201008610, 201108962, 201002468, 201102821, 201108964, 201102823, 201108968, 201008617, 201106918, 201102826, 201104874, 201004525, 201106924, 201006576, 201108977, 201104884, 201106932, 201006582, 201004536, 201002490, 201104893, 201004541, 201002495, 201102854, 201006598, 201008654, 201004559, 201104912, 201008658, 201002515, 201106965, 201008666, 201106972, 201102880, 201004577, 201004580, 201102892, 201104943, 201008697, 201102911, 201109056, 201002565, 201002569, 201107026, 201004627, 201002580, 201109078, 201109080, 201102940, 201008733, 201003713, 201004644, 201102948, 201109094, 201102954, 201008754, 201107058, 201008756, 201105014, 201004664, 201008760, 201105019, 201002621, 201107069, 201004672, 201006721, 201002629, 201008775, 201107081, 201002634, 201004683, 201102987, 201105041, 201107090, 201002648, 201107099, 201006749, 201008797, 201002655, 201002657, 201107118, 201109167, 201103024, 201006769, 201008815, 201008820, 201006774, 201105079, 201107126, 201109180, 201008831, 201008837, 201002693, 201109193, 201105098, 201002698, 201103059, 201105111, 201101018, 201101021, 201107166, 201105119, 201002724, 201008872, 201105129, 201008875, 201107181, 201105133, 201105136, 201006832, 201101040, 201002740, 201107188, 201006836, 201002743, 201002744, 201008889, 201101053, 201107197, 201004799, 201109249, 201008898, 201008897, 201101063, 201101064, 201103114, 201107211, 201103115, 201103120, 201105169, 201103127, 201105175, 201008921, 201002780, 201006876, 201109278, 201103135, 201109281, 201008932, 201006885, 201105190, 201004836, 201008936, 201107241, 201103146, 201109285, 201103148, 201107247, 201006898, 201109299, 201004859, 201107260, 201101117, 201105217, 201004865, 201103172, 201002820, 201107269, 201101127, 201002826, 201002828, 201109325, 201006925, 201107280, 201105233, 201004885, 201008981, 201101141, 201105241, 201002849, 201002853, 201008997, 201105257, 201109353, 201002859, 201105259, 201006959, 201002866, 201004914, 201103218, 201105269, 201109366, 201009016, 201009017, 201105274, 201006972, 201004925, 201006974, 201006977, 201002882, 201109379, 201101190, 201105288, 201004938, 201109386, 201105295, 201103251, 201103263, 201009057, 201009058, 201007012, 201107365, 201009062, 201105318, 201002921, 201105323, 201105325, 201002926, 201009071, 201007024, 201103281, 201007031, 201009084, 201103294, 201007043, 201004999, 201109448, 201009096, 201002953, 201002955, 201002956, 201007053, 201007072, 201101280, 201007074, 201101283, 201103332, 201101285, 201105378, 201105387, 201005036, 201005040, 201103344, 201009136, 201002995, 201107442, 201005054, 201009151}

list of the common student numbers in class 2:

### Task 4: Class of Classes
1. Modify the `class` `Section` and integrate the functions from Tasks 1 to 3 as its methods. Make sure that the codes are optimized.
2. Create a `method` named `get_failed()` wherein it will create a list of all the failed students in the class.
3. Create a `method` named `fail_count()` wherein it will return the count of the failed students.

** **Note:** due to data privacy, the data privacy office has mandated your code to refrain from printing the student number and names of students. Their student numbers and names  must be masked with asterisks.

In [12]:
class Section: 
  def __init__ (self,df_class1, df_class2):
    self.classList1 = df_class1
    self.classList2 = df_class2

  def get_grades(self):
    self.prelims = df_optmz.iloc[:,3]
    self.midterms = df_optmz.iloc[:,4]
    self.finals = df_optmz.iloc[:,5]
    for semgrade in df_dict:
      self.semgrade= (self.prelims * 0.3) + (self.midterms * 0.3) + (self.finals * 0.4)
    return self.semgrade
  
  def get_class_stats(self):
    self.preGrade_lowest = df_optmz.iloc[:,3].min()
    self.preGrade_highest = df_optmz.iloc[:,3].max()
    self.preGrade_mean = df_optmz.iloc[:,3].mean()
    self.preGrade_median = df_optmz.iloc[:,3].median()
    self.preGrade_mode = df_optmz.iloc[:,3].mode()[0]
    self.preGrade_std = df_optmz.iloc[:,3].std()

    self.midGrade_lowest = df_optmz.iloc[:,4].min()
    self.midGrade_highest = df_optmz.iloc[:,4].max()
    self.midGrade_mean = df_optmz.iloc[:,4].mean()
    self.midGrade_meadian = df_optmz.iloc[:,4].median()
    self.midGrade_mode = df_optmz.iloc[:,4].mode()[0]
    self.midGrade_std = df_optmz.iloc[:,4].std()

    self.fnlGrade_lowest = df_optmz.iloc[:,5].min()
    self.fnlGrade_highest = df_optmz.iloc[:,5].max()
    self.fnlGrade_mean = df_optmz.iloc[:,5].mean()
    self.fnlGrade_median = df_optmz.iloc[:,5].median()
    self.fnlGrade_mode = df_optmz.iloc[:,5].mode()[0]
    self.fnlGrade_std = df_optmz.iloc[:,5].std()

    self.semGrade_lowest = df_optmz.iloc[:,6].min()
    self.semGrade_highest = df_optmz.iloc[:,6].max()
    self.semGrade_mean = df_optmz.iloc[:,6].mean()
    self.semGrade_median = df_optmz.iloc[:,6].median()
    self.semGrade_mode = df_optmz.iloc[:,6].mode()[0]
    self.semGrade_std = df_optmz.iloc[:,6].std()
  
  
    self.class_stats = {'':["prelim_grades", "midterm_grades", "final_grades","semestral_grades"], 
                 'Lowest':[self.preGrade_lowest,self.midGrade_lowest,self.fnlGrade_lowest, self.semGrade_lowest], 
                 'Highest':[self.preGrade_highest,self.midGrade_highest,self.fnlGrade_highest,self.semGrade_highest], 
                 'Mean':[self.preGrade_mean,self.midGrade_mean, self.fnlGrade_mean, self.semGrade_mean], 
                 'Median':[self.preGrade_median,self.midGrade_meadian, self.fnlGrade_median, self.semGrade_median], 
                 'Mode':[self.preGrade_mode,self.midGrade_mode,self.fnlGrade_mode,self.semGrade_mode],
                 'Standard Deviation':[self.preGrade_std, self.midGrade_std, self.fnlGrade_std, self.semGrade_std]}
    self.class_stats = pd.DataFrame(self.class_stats)
    return self.class_stats

  def get_similar_students(self):
    self.class_unique = class_list1, class_list2
    class_unique = set(clist1['student_numbers']).intersection(set(clist2['student_numbers']))
    return class_unique

  def get_failed(self):       
    self.failed_name = df_optmz.loc[df_optmz['semestral_grades']<70]
    self.failed_list = self.failed_name.replace(to_replace=['fname','lname','id'], value = '*****')
    return self.failed_list

  def fail_count(self):
    self.fail_count = (df_optmz['semestral_grades']<70).values.sum()
    print('The number of failed student/s: ')
    return self.fail_count

class_Section = Section(class_list1, class_list2)

In [13]:
class_Section.get_grades()

0     93.954
1     94.178
2     85.487
3     81.718
4     93.954
5     86.628
6     95.644
7     72.185
8     86.553
9     87.183
10    86.938
11    85.487
12    86.553
13    85.487
14    86.308
15    85.304
16    95.644
17    81.505
18    80.243
19    67.236
20    95.644
21    81.505
22    86.308
23    93.954
24    82.693
25    95.324
26    84.992
dtype: float64

In [14]:
class_Section.get_class_stats()

                     Lowest  Highest  ...  Median   Mode  Standard Deviation
0     prelim_grades   60.79    96.41  ...   84.83  78.17            9.222151
1    midterm_grades   68.00    97.30  ...   92.49  82.00            7.179894
2      final_grades   50.34    95.65  ...   84.15  81.28            8.606269
3  semestral_grades   67.24    95.64  ...   86.31  85.49            6.971493

[4 rows x 7 columns]

In [15]:
class_Section.get_similar_students()

{201001032,
 201001034,
 201001049,
 201001055,
 201001098,
 201001111,
 201001112,
 201001123,
 201001133,
 201001134,
 201001145,
 201001159,
 201001172,
 201001175,
 201001237,
 201001244,
 201001250,
 201001266,
 201001297,
 201001319,
 201001332,
 201001366,
 201001380,
 201001413,
 201001424,
 201001451,
 201001453,
 201001468,
 201001484,
 201001552,
 201001558,
 201001569,
 201001582,
 201001587,
 201001612,
 201001663,
 201001666,
 201001667,
 201001670,
 201001698,
 201001710,
 201001713,
 201001745,
 201001758,
 201001769,
 201001774,
 201001780,
 201001782,
 201001789,
 201001799,
 201001822,
 201001832,
 201001836,
 201001845,
 201001865,
 201001869,
 201001874,
 201001878,
 201001912,
 201001913,
 201001919,
 201001933,
 201001951,
 201002021,
 201002028,
 201002052,
 201002054,
 201002058,
 201002136,
 201002150,
 201002168,
 201002173,
 201002185,
 201002197,
 201002230,
 201002241,
 201002245,
 201002269,
 201002272,
 201002279,
 201002284,
 201002326,
 201002375,
 201002376,
 201002439,
 201002444,
 201002449,
 201002468,
 201002490,
 201002495,
 201002515,
 201002565,
 201002569,
 201002580,
 201002621,
 201002629,
 201002634,
 201002648,
 201002655,
 201002657,
 201002693,
 201002698,
 201002724,
 201002740,
 201002743,
 201002744,
 201002780,
 201002820,
 201002826,
 201002828,
 201002849,
 201002853,
 201002859,
 201002866,
 201002882,
 201002921,
 201002926,
 201002953,
 201002955,
 201002956,
 201002995,
 201003023,
 201003046,
 201003058,
 201003060,
 201003112,
 201003117,
 201003136,
 201003145,
 201003157,
 201003174,
 201003177,
 201003197,
 201003219,
 201003263,
 201003279,
 201003358,
 201003392,
 201003425,
 201003438,
 201003447,
 201003463,
 201003511,
 201003514,
 201003515,
 201003529,
 201003542,
 201003559,
 201003613,
 201003615,
 201003635,
 201003644,
 201003660,
 201003675,
 201003688,
 201003713,
 201003715,
 201003718,
 201003730,
 201003736,
 201003767,
 201003783,
 201003797,
 201003815,
 201003828,
 201003833,
 201003845,
 201003847,
 201003852,
 201003875,
 201003886,
 201003887,
 201003967,
 201003993,
 201004017,
 201004026,
 201004042,
 201004047,
 201004118,
 201004160,
 201004162,
 201004170,
 201004172,
 201004194,
 201004196,
 201004221,
 201004252,
 201004255,
 201004262,
 201004269,
 201004288,
 201004299,
 201004316,
 201004323,
 201004389,
 201004434,
 201004449,
 201004454,
 201004456,
 201004471,
 201004498,
 201004525,
 201004536,
 201004541,
 201004559,
 201004577,
 201004580,
 201004627,
 201004644,
 201004664,
 201004672,
 201004683,
 201004799,
 201004836,
 201004859,
 201004865,
 201004885,
 201004914,
 201004925,
 201004938,
 201004999,
 201005036,
 201005040,
 201005054,
 201005064,
 201005066,
 201005093,
 201005094,
 201005134,
 201005147,
 201005150,
 201005168,
 201005187,
 201005236,
 201005255,
 201005256,
 201005275,
 201005311,
 201005360,
 201005367,
 201005377,
 201005415,
 201005418,
 201005443,
 201005469,
 201005482,
 201005485,
 201005520,
 201005525,
 201005535,
 201005550,
 201005588,
 201005592,
 201005593,
 201005596,
 201005628,
 201005630,
 201005648,
 201005652,
 201005670,
 201005671,
 201005699,
 201005725,
 201005731,
 201005741,
 201005746,
 201005763,
 201005775,
 201005821,
 201005822,
 201005835,
 201005842,
 201005846,
 201005885,
 201005889,
 201005899,
 201005917,
 201005933,
 201005944,
 201005949,
 201005986,
 201005989,
 201005990,
 201005994,
 201006011,
 201006042,
 201006048,
 201006055,
 201006079,
 201006098,
 201006110,
 201006140,
 201006148,
 201006174,
 201006175,
 201006187,
 201006232,
 201006250,
 201006258,
 201006273,
 201006281,
 201006345,
 201006347,
 201006348,
 201006357,
 201006369,
 201006410,
 201006425,
 201006468,
 201006527,
 201006537,
 201006543,
 201006560,
 201006576,
 201006582,
 201006598,
 201006721,
 201006749,
 201006769,
 201006774,
 201006832,
 201006836,
 201006876,
 201006885,
 201006898,
 201006925,
 201006959,
 201006972,
 201006974,
 201006977,
 201007012,
 201007024,
 201007031,
 201007043,
 201007053,
 201007072,
 201007074,
 201007138,
 201007160,
 201007183,
 201007217,
 201007225,
 201007242,
 201007252,
 201007282,
 201007286,
 201007289,
 201007291,
 201007311,
 201007320,
 201007327,
 201007331,
 201007345,
 201007380,
 201007383,
 201007389,
 201007430,
 201007455,
 201007471,
 201007494,
 201007514,
 201007536,
 201007541,
 201007563,
 201007568,
 201007598,
 201007615,
 201007625,
 201007657,
 201007663,
 201007757,
 201007761,
 201007778,
 201007791,
 201007862,
 201007884,
 201007890,
 201007925,
 201007936,
 201007939,
 201007944,
 201007960,
 201007965,
 201007988,
 201007999,
 201008016,
 201008017,
 201008029,
 201008049,
 201008094,
 201008116,
 201008147,
 201008155,
 201008163,
 201008168,
 201008187,
 201008194,
 201008235,
 201008254,
 201008261,
 201008287,
 201008295,
 201008318,
 201008345,
 201008346,
 201008347,
 201008370,
 201008373,
 201008388,
 201008389,
 201008420,
 201008432,
 201008433,
 201008461,
 201008476,
 201008478,
 201008545,
 201008552,
 201008566,
 201008578,
 201008582,
 201008610,
 201008617,
 201008654,
 201008658,
 201008666,
 201008697,
 201008733,
 201008754,
 201008756,
 201008760,
 201008775,
 201008797,
 201008815,
 201008820,
 201008831,
 201008837,
 201008872,
 201008875,
 201008889,
 201008897,
 201008898,
 201008921,
 201008932,
 201008936,
 201008981,
 201008997,
 201009016,
 201009017,
 201009057,
 201009058,
 201009062,
 201009071,
 201009084,
 201009096,
 201009136,
 201009151,
 201009157,
 201009163,
 201009221,
 201009253,
 201009270,
 201009276,
 201009298,
 201009318,
 201009321,
 201009324,
 201009339,
 201009354,
 201009357,
 201009375,
 201009379,
 201009426,
 201009428,
 201009493,
 201009499,
 201009518,
 201009533,
 201009543,
 201009546,
 201009570,
 201009575,
 201009587,
 201009591,
 201009594,
 201009648,
 201009653,
 201009655,
 201009671,
 201009678,
 201009773,
 201009810,
 201009820,
 201009825,
 201009828,
 201009838,
 201009848,
 201009872,
 201009925,
 201009935,
 201009942,
 201009959,
 201009967,
 201009973,
 201009985,
 201009987,
 201009997,
 201101018,
 201101021,
 201101040,
 201101053,
 201101063,
 201101064,
 201101117,
 201101127,
 201101141,
 201101190,
 201101280,
 201101283,
 201101285,
 201101346,
 201101347,
 201101350,
 201101371,
 201101414,
 201101415,
 201101421,
 201101438,
 201101441,
 201101453,
 201101463,
 201101472,
 201101556,
 201101569,
 201101589,
 201101593,
 201101617,
 201101636,
 201101637,
 201101655,
 201101696,
 201101710,
 201101733,
 201101751,
 201101763,
 201101768,
 201101775,
 201101777,
 201101799,
 201101814,
 201101817,
 201101848,
 201101849,
 201101854,
 201101869,
 201101879,
 201101893,
 201101910,
 201101916,
 201101921,
 201101935,
 201101952,
 201101958,
 201101975,
 201101996,
 201102012,
 201102026,
 201102035,
 201102044,
 201102065,
 201102068,
 201102079,
 201102081,
 201102097,
 201102126,
 201102192,
 201102250,
 201102258,
 201102270,
 201102276,
 201102318,
 201102320,
 201102350,
 201102363,
 201102365,
 201102367,
 201102369,
 201102386,
 201102397,
 201102399,
 201102414,
 201102424,
 201102428,
 201102466,
 201102470,
 201102471,
 201102473,
 201102477,
 201102496,
 201102510,
 201102524,
 201102528,
 201102541,
 201102547,
 201102640,
 201102665,
 201102674,
 201102747,
 201102750,
 201102813,
 201102821,
 201102823,
 201102826,
 201102854,
 201102880,
 201102892,
 201102911,
 201102940,
 201102948,
 201102954,
 201102987,
 201103024,
 201103059,
 201103114,
 201103115,
 201103120,
 201103127,
 201103135,
 201103146,
 201103148,
 201103172,
 201103218,
 201103251,
 201103263,
 201103281,
 201103294,
 201103332,
 201103344,
 201103385,
 201103418,
 201103429,
 201103453,
 201103456,
 201103475,
 201103489,
 201103518,
 201103529,
 201103535,
 201103546,
 201103574,
 201103591,
 201103626,
 201103640,
 201103642,
 201103651,
 201103660,
 201103663,
 201103677,
 201103682,
 201103695,
 201103792,
 201103883,
 201103889,
 201103910,
 201103959,
 201103966,
 201103967,
 201104021,
 201104024,
 201104063,
 201104121,
 201104128,
 201104163,
 201104188,
 201104218,
 201104222,
 201104224,
 201104234,
 201104243,
 201104279,
 201104288,
 201104289,
 201104315,
 201104331,
 201104347,
 201104366,
 201104375,
 201104397,
 201104398,
 201104417,
 201104423,
 201104429,
 201104456,
 201104464,
 201104466,
 201104468,
 201104469,
 201104488,
 201104525,
 201104555,
 201104571,
 201104588,
 201104589,
 201104594,
 201104648,
 201104666,
 201104670,
 201104716,
 201104724,
 201104737,
 201104760,
 201104771,
 201104773,
 201104781,
 201104786,
 201104795,
 201104825,
 201104838,
 201104861,
 201104874,
 201104884,
 201104893,
 201104912,
 201104943,
 201105014,
 201105019,
 201105041,
 201105079,
 201105098,
 201105111,
 201105119,
 201105129,
 201105133,
 201105136,
 201105169,
 201105175,
 201105190,
 201105217,
 201105233,
 201105241,
 201105257,
 201105259,
 201105269,
 201105274,
 201105288,
 201105295,
 201105318,
 201105323,
 201105325,
 201105378,
 201105387,
 201105415,
 201105420,
 201105423,
 201105430,
 201105451,
 201105467,
 201105468,
 201105471,
 201105496,
 201105513,
 201105544,
 201105587,
 201105592,
 201105628,
 201105637,
 201105643,
 201105664,
 201105682,
 201105736,
 201105748,
 201105764,
 201105769,
 201105812,
 201105854,
 201105857,
 201105869,
 201105874,
 201105878,
 201105892,
 201105896,
 201105954,
 201105967,
 201105979,
 201105980,
 201105997,
 201106022,
 201106041,
 201106057,
 201106125,
 201106188,
 201106199,
 201106276,
 201106280,
 201106313,
 201106339,
 201106343,
 201106346,
 201106347,
 201106355,
 201106365,
 201106398,
 201106399,
 201106428,
 201106433,
 201106461,
 201106474,
 201106516,
 201106518,
 201106594,
 201106598,
 201106610,
 201106633,
 201106642,
 201106656,
 201106661,
 201106677,
 201106678,
 201106695,
 201106715,
 201106718,
 201106734,
 201106739,
 201106780,
 201106795,
 201106799,
 201106813,
 201106818,
 201106834,
 201106836,
 201106918,
 201106924,
 201106932,
 201106965,
 201106972,
 201107026,
 201107058,
 201107069,
 201107081,
 201107090,
 201107099,
 201107118,
 201107126,
 201107166,
 201107181,
 201107188,
 201107197,
 201107211,
 201107241,
 201107247,
 201107260,
 201107269,
 201107280,
 201107365,
 201107442,
 201107470,
 201107472,
 201107516,
 201107525,
 201107533,
 201107598,
 201107639,
 201107640,
 201107653,
 201107655,
 201107678,
 201107682,
 201107695,
 201107699,
 201107743,
 201107744,
 201107757,
 201107759,
 201107766,
 201107782,
 201107792,
 201107818,
 201107820,
 201107828,
 201107830,
 201107845,
 201107861,
 201107882,
 201107925,
 201107941,
 201107959,
 201107963,
 201107975,
 201107986,
 201108027,
 201108053,
 201108058,
 201108071,
 201108075,
 201108087,
 201108090,
 201108091,
 201108119,
 201108149,
 201108159,
 201108162,
 201108163,
 201108168,
 201108170,
 201108174,
 201108210,
 201108220,
 201108229,
 201108238,
 201108241,
 201108299,
 201108322,
 201108376,
 201108399,
 201108420,
 201108436,
 201108448,
 201108450,
 201108474,
 201108511,
 201108518,
 201108525,
 201108566,
 201108585,
 201108641,
 201108673,
 201108682,
 201108816,
 201108848,
 201108853,
 201108864,
 201108877,
 201108896,
 201108949,
 201108958,
 201108962,
 201108964,
 201108968,
 201108977,
 201109056,
 201109078,
 201109080,
 201109094,
 201109167,
 201109180,
 201109193,
 201109249,
 201109278,
 201109281,
 201109285,
 201109299,
 201109325,
 201109353,
 201109366,
 201109379,
 201109386,
 201109448,
 201109525,
 201109545,
 201109616,
 201109639,
 201109649,
 201109680,
 201109720,
 201109724,
 201109734,
 201109764,
 201109778,
 201109792,
 201109823,
 201109891,
 201109930,
 201109971}

In [16]:
class_Section.get_failed()

   fname    lname  id  ...  midterm_grades  final_grades  semestral_grades
19  neta  abeleda  20  ...           87.69         50.34             67.24

[1 rows x 7 columns]

In [17]:
class_Section.fail_count()

The number of failed student/s:

1